html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alignwide {
  padding-right: 90px;
  padding-left: 90px;
}

.wp-block-columns {
  margin: 0;
}

.alignfull .wp-block-media-text .wp-block-media-text__content {
  padding: 0 90px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  position: absolute;
  width: 100%;
  z-index: 10;
}
header.not_sticked {
  position: relative;
  border-bottom: 1px solid #9fafba;
}
header .logo-img {
  margin-left: 90px;
}
header .logo-img img {
  width: 150px;
  height: auto;
}
header .cont-menu-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0;
}
header .cont-menu-right .cont_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: 89px;
  width: 100%;
  padding: 0;
  margin: 0;
}
header .cont-menu-right .cont_menu .menu-menu-principal-container ul, header .cont-menu-right .cont_menu .menu-main-container ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .cont-menu-right .cont_menu .menu-menu-principal-container ul li, header .cont-menu-right .cont_menu .menu-main-container ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
}
header .cont-menu-right .cont_menu .menu-menu-principal-container ul li a, header .cont-menu-right .cont_menu .menu-main-container ul li a {
  text-decoration: none;
  color: #8cc540;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
header .cont-menu-right .cont_menu .menu-menu-principal-container ul li a:hover, header .cont-menu-right .cont_menu .menu-main-container ul li a:hover {
  color: #0e526c;
}
header .cont-menu-right .search-bar {
  position: absolute;
  background-color: white;
  height: 90px;
  top: 0px;
  right: 90px;
  z-index: 10;
  width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border: 0px solid #8cc540;
}
header .cont-menu-right .search-bar .search-form {
  overflow: hidden;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .cont-menu-right .search-bar .search-form input[type=search] {
  width: 90%;
  height: 100%;
  font-size: 30px;
  padding: 0px;
  color: #0e526c;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
}
header .cont-menu-right .search-bar .search-form input[type=search]:focus {
  outline: none;
}
header .cont-menu-right .search-bar .search-form input[type=submit] {
  height: 50;
  padding: 10px 30px;
  color: #0e526c;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #8cc540;
  border: none;
  cursor: pointer;
}
header .cont-menu-right .search-bar .search-form input[type=submit]:focus {
  outline: none;
}
header .cont-menu-right .search-bar.active {
  width: calc(100% - 90px);
  border: 1px solid #8cc540;
}
header .cont-menu-right .cont_search {
  min-width: 90px;
  height: 90px;
  background-color: #2e7b98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
header .cont-menu-right .cont_search svg {
  width: 20px;
  height: 20px;
}
header .cont-menu-right .cont_search svg path {
  fill: #8cc540;
}
header .burguer-cont {
  display: none;
}

@media screen and (max-width: 1279px) {
  header {
    padding: 0 10px;
    height: 70px;
  }
  header .logo-img {
    margin-left: 10px;
  }
  header .logo-img img {
    width: 120px;
  }
  header .cont-menu-right {
    width: 100%;
    background-color: #fff;
    left: 0;
    position: absolute;
    top: 100%;
    display: none;
  }
  header .cont-menu-right.active {
    display: block;
  }
  header .cont-menu-right .search-bar {
    height: 70px;
    width: calc(100% - 80px);
    position: absolute;
    top: 0;
    left: 0;
  }
  header .cont-menu-right .cont_search {
    top: 0;
    right: 0;
    position: absolute;
    height: 70px;
    min-width: 70px;
  }
  header .cont-menu-right .cont_menu {
    display: block;
    background-color: white;
    height: auto;
    width: 100%;
    margin-top: 70px;
    border-top: 1px solid #0e526c;
    z-index: 11;
  }
  header .cont-menu-right .cont_menu .menu-menu-principal-container ul, header .cont-menu-right .cont_menu .menu-main-container ul {
    padding: 0;
    margin: 0;
    display: block;
  }
  header .cont-menu-right .cont_menu .menu-menu-principal-container ul li, header .cont-menu-right .cont_menu .menu-main-container ul li {
    position: relative;
    height: 55px;
    font-size: 22px;
  }
  header .cont-menu-right .cont_menu .menu-menu-principal-container ul li:not(:last-child)::before, header .cont-menu-right .cont_menu .menu-main-container ul li:not(:last-child)::before {
    content: "";
    width: 70%;
    height: 1px;
    position: absolute;
    background-color: #8cc540;
    bottom: 0;
  }
  header .burguer-cont {
    width: 30px;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  header .burguer-cont span {
    -webkit-transition: all 300ms;
    transition: all 300ms;
    background-color: #8cc540;
    height: 4px;
  }
  header .burguer-cont span:first-child {
    width: 100%;
  }
  header .burguer-cont span:nth-child(2) {
    width: 60%;
  }
  header .burguer-cont span:last-child {
    width: 35%;
  }
  header .burguer-cont.active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  header .burguer-cont.active span {
    width: 100%;
  }
}
.banner-cont {
  width: 100%;
  height: 475px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-cont .title-banner {
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}

.container {
  padding: 0 90px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
footer {
  min-height: 300px;
  background-color: #0e526c;
  padding: 30px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
}
footer .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}
footer .column p {
  color: white;
}
footer .column a {
  text-decoration: none;
  color: white;
}
footer .column .widget {
  width: 100%;
  padding: 10px;
}
footer .column .widget form p {
  width: 100%;
  height: auto;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
footer .column .widget form p .wpcf7-form-control-wrap {
  width: calc(90% - 120px);
  min-width: 200px;
  display: inline-block;
  margin-right: 10px;
}
footer .column .widget form p .wpcf7-form-control-wrap input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 50px;
  border: 1px solid white;
  background-color: transparent;
  width: 100%;
  text-align: center;
  color: white;
  margin: 5px;
}
footer .column .widget form p .wpcf7-form-control-wrap input::-webkit-input-placeholder {
  color: white;
}
footer .column .widget form p .wpcf7-form-control-wrap input::-moz-placeholder {
  color: white;
}
footer .column .widget form p .wpcf7-form-control-wrap input:-ms-input-placeholder {
  color: white;
}
footer .column .widget form p .wpcf7-form-control-wrap input::-ms-input-placeholder {
  color: white;
}
footer .column .widget form p .wpcf7-form-control-wrap input::placeholder {
  color: white;
}
footer .column .widget form p input[type=submit] {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 80px;
  border: 1px solid #8cc540;
  background-color: #8cc540;
  color: white;
  height: 50px;
  margin: 5px;
}
footer .column .menu {
  list-style: none;
}
footer .column .menu li {
  margin: 10px 0;
}

@media screen and (max-width: 767px) {
  footer {
    padding: 30px 20px;
  }
  footer .column {
    min-width: 300px;
    width: 100%;
  }
  footer .column p {
    padding-left: 40px;
  }
}
.wpcf7 .contact_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.wpcf7 .contact_row .wpcf7-form-control-wrap {
  width: 45%;
  margin: 10px 0;
}
.wpcf7 .contact_row .wpcf7-form-control-wrap textarea, .wpcf7 .contact_row .wpcf7-form-control-wrap input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1f6166;
  padding: 5px 0px;
  font-size: 18px;
  width: 100%;
  font-family: Helvetica, sans-serif;
  color: white;
}
.wpcf7 .contact_row .wpcf7-form-control-wrap input {
  height: 40px;
}
.wpcf7 .contact_row .wpcf7-form-control-wrap ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.wpcf7 .contact_row .wpcf7-form-control-wrap ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.wpcf7 .contact_row .wpcf7-form-control-wrap :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.wpcf7 .contact_row .wpcf7-form-control-wrap ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.wpcf7 .contact_row .wpcf7-form-control-wrap ::placeholder {
  color: rgba(255, 255, 255, 0.5019607843);
}
.wpcf7 .contact_row input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: #0e526c;
  color: white;
  padding: 8px 12px;
  text-transform: uppercase;
  margin-top: 50px;
}

@media screen and (max-width: 1023px) {
  .wpcf7 .contact_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wpcf7 .contact_row .wpcf7-form-control-wrap {
    width: 100%;
  }
  .wpcf7 .contact_row .wpcf7-form-control-wrap textarea, .wpcf7 .contact_row .wpcf7-form-control-wrap input {
    padding: 5px;
    width: 100%;
  }
  .wpcf7 .contact_row input[type=submit] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background-color: #0e526c;
    color: white;
    padding: 8px 12px;
    text-transform: uppercase;
  }
}
.tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 80px;
}
.tabs-container .tabs-mobile {
  display: none;
}
.tabs-container .tabs {
  width: 25%;
  max-width: 200px;
}
.tabs-container .tabs .tab-item {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid green;
  padding: 10px 0;
  color: #31536b;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.tabs-container .tabs .tab-item:hover, .tabs-container .tabs .tab-item.active {
  background-color: #8cc540;
  color: white;
  padding-left: 10px;
}
.tabs-container .tabs-content {
  color: #31536b;
  padding: 30px 80px;
}
.tabs-container .tabs-content .tab-content {
  display: none;
}
.tabs-container .tabs-content .tab-content.active {
  display: block;
}

.tab-calendar-container {
  width: 100%;
  margin-bottom: 60px;
  display: none;
}
.tab-calendar-container.active {
  display: block;
}
.tab-calendar-container .tab-calendar-dropdown {
  width: 300px;
  height: 70px;
  font-size: 24px;
  font-weight: bolder;
  color: #31536b;
  margin: 0 auto;
  position: relative;
}
.tab-calendar-container .tab-calendar-dropdown .calendar-option-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
}
.tab-calendar-container .tab-calendar-dropdown .calendar-option-selected .button-calendar-tab {
  margin-left: 20px;
  width: 30px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer;
}
.tab-calendar-container .tab-calendar-dropdown .calendar-option-selected .button-calendar-tab span {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: #8cc540;
  height: 4px;
}
.tab-calendar-container .tab-calendar-dropdown .calendar-option-selected .button-calendar-tab span:first-child {
  width: 100%;
}
.tab-calendar-container .tab-calendar-dropdown .calendar-option-selected .button-calendar-tab span:nth-child(2) {
  width: 60%;
}
.tab-calendar-container .tab-calendar-dropdown .calendar-option-selected .button-calendar-tab span:last-child {
  width: 35%;
}
.tab-calendar-container .tab-calendar-dropdown .calendar-option-selected .button-calendar-tab.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.tab-calendar-container .tab-calendar-dropdown .calendar-option-selected .button-calendar-tab.active span {
  width: 100%;
}
.tab-calendar-container .tab-calendar-dropdown .calendar-menu {
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 0;
  display: none;
}
.tab-calendar-container .tab-calendar-dropdown .calendar-menu .calendar-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-align: center;
  height: 50px;
  cursor: pointer;
}
.tab-calendar-container .tab-calendar {
  overflow-x: auto;
  display: none;
}
.tab-calendar-container .tab-calendar.active {
  display: block;
}
.tab-calendar-container .tab-calendar .calendar {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.tab-calendar-container .tab-calendar .calendar thead {
  height: 80px;
}
.tab-calendar-container .tab-calendar .calendar thead th {
  font-size: 20px;
  text-transform: uppercase;
  border-top: 1px solid #9ec44e;
  color: #31536b;
  padding: 5px 10px;
}
.tab-calendar-container .tab-calendar .calendar tbody tr td {
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid #9ec44e;
  text-align: center;
  height: 70px;
  color: #b7bac8;
}
.tab-calendar-container .tab-calendar .calendar tbody tr:last-child td {
  border-bottom: 1px solid #9ec44e;
}

@media screen and (max-width: 1023px) {
  .tabs-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    width: 100%;
  }
  .tabs-container .tabs-mobile {
    color: #0e526c;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
  }
  .tabs-container .tabs-mobile .active-tab {
    min-width: 30%;
    font-size: 20px;
  }
  .tabs-container .tabs-mobile .burguer-tabs {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    width: 30px;
    height: 20px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .tabs-container .tabs-mobile .burguer-tabs span {
    -webkit-transition: all 300ms;
    transition: all 300ms;
    width: 100%;
    background-color: #0e526c;
    height: 3px;
  }
  .tabs-container .tabs-mobile .burguer-tabs span:nth-child(2) {
    width: 60%;
  }
  .tabs-container .tabs-mobile .burguer-tabs span:last-child {
    width: 30%;
  }
  .tabs-container .tabs-mobile .burguer-tabs.active {
    width: 20px;
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  .tabs-container .tabs-mobile .burguer-tabs.active span {
    width: 100%;
  }
  .tabs-container .tabs {
    width: 100%;
    max-width: unset;
    z-index: 10;
    display: none;
    position: absolute;
    background: #fff;
    top: 35px;
    left: 0;
    border-top: 1px solid #0e526c;
  }
  .tabs-container .tabs .tab-item {
    min-height: 50px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid green;
    padding: 10px 0;
    color: #31536b;
    cursor: pointer;
  }
  .tabs-container .tabs-content {
    color: #31536b;
    padding: 10px 0;
  }
}