.category-list .category-desc {
  margin: 60px 0;
  color: #0e526c;
  font-size: 30px;
  font-weight: bold;
}

.category-list .grid {
  margin: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-self: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.category-list .grid .item {
  width: 31%;
  border: 2px solid #b2b2b2;
  margin-right: 3.5%;
  margin-bottom: 5%;
  min-height: 400px;
  padding: 50px 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.category-list .grid .item:nth-child(3n) {
  margin-right: 0;
}

.category-list .grid .item .icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.category-list .grid .item .icon svg {
  width: 40px;
  height: 40px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.category-list .grid .item .icon svg path {
  fill: #b2b2b2;
}

.category-list .grid .item .title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
  margin: 5px 0;
  margin-top: 20px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: #b2b2b2;
}

.category-list .grid .item .desc {
  padding: 5px 0;
  margin: 5px 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  color: #b2b2b2;
}

.category-list .grid .item:hover {
  border-color: #8cc540;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.category-list .grid .item:hover .icon {
  background-color: #8cc540;
}

.category-list .grid .item:hover .icon svg {
  width: 40px;
  height: 40px;
}

.category-list .grid .item:hover .icon svg path {
  fill: #fff;
}

.category-list .grid .item:hover .title {
  color: #0e526c;
}

.category-list .grid .item:hover .desc {
  color: #8cc540;
}

@media screen and (max-width: 767px) {
  .category-list .grid {
    margin: 90px 0;
  }
  .category-list .grid .item {
    width: 100%;
    margin: 5% auto;
  }
}
