.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .column .desc {
  margin: 10px;
  text-align: center;
  color: #0e526c;
  font-size: 20px;
}

.container .column .item {
  color: #0e526c;
}

.container .column .item .social-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.container .column .item .social-cont .link {
  margin: 0 5px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  overflow: hidden;
}

.container .column .item .social-cont .link img {
  width: 30px;
  height: 30px;
  position: relative;
}

.container .column .item .social-cont .link:hover {
  background-color: #0e526c;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
