.tabs-container{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin-bottom: 80px;
    .tabs-mobile{
        display: none;
    }
    .tabs{
        width: 25%;
        max-width: 200px;
        .tab-item{
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid green;
            padding: 10px 0;
            color: #31536b;
            cursor: pointer;
            transition: all 300ms;
            &:hover{
                background-color: $verde;
                color: white;
                padding-left: 10px;
            }
        }
    }

    .tabs-content{
        color: #31536b;
        padding: 30px 80px;
        .tab-content{
            display: none;
            &.active{
                display: block;
            }
        }
    }

}

.tab-calendar-container{
    width: 100%;
    margin-bottom: 60px;
    .tab-calendar-dropdown{
        width: 300px;
        height: 70px;
        font-size: 24px;
        font-weight: bolder;
        color: #31536b;
        margin: 0 auto;
        position: relative;

        .calendar-option-selected{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
        }
        .calendar-menu{
            width: 100%;
            background-color: #fff;
            position: absolute;
            top: 100%;
            margin: 0;
            padding: 0;
            display: none;
            .calendar-option{
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                text-align: center;
                height: 50px;
                cursor: pointer;
            }
        }
    }
    .tab-calendar{
        overflow-x: auto;
        .calendar{
            width: 100%;
            border: none;
            border-collapse: collapse;
            thead{
                height: 80px;
                th{
                    font-size: 20px;
                    text-transform: uppercase;
                    border-top: 1px solid #9ec44e;
                    color: #31536b;
                    padding: 5px 10px;
                }
            }
            tbody{
                tr{
                    td{
                        font-size: 16px;
                        font-weight: bold;
                        border-top: 1px solid #9ec44e;
                        text-align: center;
                        height: 70px;
                        color: #b7bac8;
                    }
                    &:last-child{
                        td{
                            border-bottom: 1px solid #9ec44e;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px){
    .tabs-container{
        flex-direction: column;
        position: relative;
        width: 100%;
        .tabs-mobile{
            color: $azul;
            font-weight: bold;
            display: flex;
            width: 100%;
            height: 50px;
            .active-tab{
                min-width: 30%;
                font-size: 20px;
            }
            .burguer-tabs{
                float: left;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                width: 30px;
                height: 20px;
                transition: all 300ms;
                span{
                transition: all 300ms;

                    width: 100%;
                    background-color: $azul;
                    height: 3px;
                    &:nth-child(2){
                        width: 60%;
                    }
                    &:last-child{
                        width: 30%;
                    }
                }

                &.active{
                    width: 20px;
                    transform: rotateZ(90deg);
                    span{
                        width: 100%;
                    }
                }
            }
        }

        .tabs{
            width:100%;
            max-width: unset;
            z-index: 10;
            display: none;
            position: absolute;
            background: #fff;
            top: 35px;
            left: 0;
            border-top: 1px solid $azul;
            .tab-item{
                min-height: 50px;
                height: auto;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid green;
                padding: 10px 0;
                color: #31536b;
                cursor: pointer;
            }
        }

        .tabs-content{
            color: #31536b;
            padding: 10px 0;
        }

    }
}