@import "variables";

.gaceta-cont{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 100%;
    padding: 0;

    .column{
        padding-top: 100px;
    }

    .cat-tabs{
        width: 25%;
        max-width: 400px;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu-cat, .menu-filter{
            list-style: none;
            margin: 0;
            margin-bottom: 60px;
            padding: 0;
            max-width: 280px;
            min-width: 80%;

            li{
                display: flex;
                align-items: center;
                justify-content: start;
                height: 50px;
                cursor: pointer;
                color: $gris;
                border-bottom: 1px solid $verde;
                transition: all 300ms;

                &.active{
                    color: $azul;
                    font-weight: bold;
                }

                &:hover{
                    color: $azul;
                }
            }
        }

        .menu-filter{

        }
    }
    .grid-list{
        display: flex;
        align-items: stretch;
        justify-content: start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        margin-bottom: 100px;
        .item{
            cursor: pointer;
            min-height: 200px;
            width: 31%;
            min-width: 200px;
            margin-left: 1.5%;
            margin-bottom: 1.5%;
            background-size: cover;

            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            padding: 20px 30px;
            font-weight: bold;
            &:nth-child(3n){
                margin-right: 0;
            }

            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // background-color: $verde;
                opacity: 0.9;
                transition: all 300ms;
            }
            .title, .desc{
                color: white;
                position: relative;
            }

            &:hover{
                .overlay{
                    background-color: $verde;
                }
            }
        }
    }

    .post-item{
        width: 25%;
        background-color: #f1f1f4;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 400px;
        .featured-img{
            width: 100%;
            height: 300px;
            background-color: green;
        }
        .text{
            margin: 20px 0;
            color: $azul;
            letter-spacing: 1px;
        }
        .button{
            cursor: pointer;
            background-color: $azul;
            color: white;
            width: fit-content;
            padding: 10px 20px;
            text-transform: uppercase;
        }
    }
}