@import "variables";

html, body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

// generals
.alignwide{
    padding-right: 90px;
    padding-left: 90px;
}
.wp-block-columns{
    margin: 0;
}

.alignfull{
    .wp-block-media-text{
        .wp-block-media-text__content{
            padding: 0 90px;
        }
    }
}

// header
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0px 90px;
    height: 90px;
    position: absolute;
    width: 100%;
    z-index: 10;
    &.not_sticked{
        position: relative;
        border-bottom: 1px solid #9fafba;
    }
    .logo-img{

        img{
            width: 150px;
            height: auto;
        }
    }

    .cont-menu-right{

        // width: fit-content;
        display: flex;
        justify-content: space-between;
        // margin-right: -180px;
        position: relative;
        padding: 0;
        .cont_menu{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            height: 90px;
            width: 100%;
            padding: 0;
            margin: 0;
            .menu-menu-principal-container{
                ul{
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                        list-style: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px;
                        margin: 5px;
                        font-size: $small;
                        a{
                            text-decoration: none;
                            color: #8cc540;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .search-bar{
            display: none;
            position: absolute;
            background-color: red;
            width: calc(100% - 180px);
            // width: 0;
            // height: 90px;
            width: 0;
            height: 0;
            top: 0px;
            right: 0;
            z-index: 10;
            input[type="search"]{
                width: 100%;
                // height: 90px;
                font-size: $title;
                // padding: 10px 0px;
                color: $azul;
                appearance: none;
                border: none;
            }
        }
        .cont_search{
            position: absolute;
            top: 0;
            right: -90px;
            width: 90px;
            height: 90px;
            background-color: #2e7b98;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            display: none;
            svg{
                width: 20px;
                height: 20px;
                path{
                    fill: #8cc540;
                }
            }

        }
    }
}

@media screen and (max-width: 1023px){
    header{
        padding: 0 10px;
        height: 70px;

        .logo-img{
            img{
                width: 120px;
            }
        }

        .cont-menu-right{
            // width: calc(50% + 180px);
            width: 100%;
            background-color: #fff;
            left: 0;
            position: absolute;
            top: 100%;
            display: none;

            &.active{
                display: block;
            }
            .search-bar{
                background-color: red;
                width: calc(100% - 70px);
                height: 70px;
                display: block;
                background-color: blue;

                input[type="search"]{
                    width: 100%;
                    height: 70px;
                    // display: none;
                    // height: 90px;
                    font-size: $title;
                    padding: 10px 20px;
                    color: $azul;
                    appearance: none;
                    border: none;
                    border-top: 1px solid $azul-2;
                    border-bottom: 1px solid $azul-2;
                }
            }
            .cont_search{
                // position: absolute;
                // top: 0;
                // right: 0;

                height: 70px;
                width: 70px;
                margin-right: 0;
                background-color: #2e7b98;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                svg{
                    width: 20px;
                    height: 20px;
                    path{
                        fill: #8cc540;
                    }
                }

            }
            .cont_menu{
                display: block;
                background-color: white;
                height: auto;
                width: 100%;
                .menu-menu-principal-container{
                    ul{
                        padding: 0;
                        margin: 0;
                        display: block;
                        li{
                            position: relative;
                            height: 55px;
                            font-size: 22px;
                            &:not(:last-child){
                                &::before{
                                    content: '';
                                    width: 70%;
                                    height: 1px;
                                    position: absolute;
                                    background-color: $verde;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .burguer-cont{
            width: 30px;
            height: 25px;
            display: flex;
            align-items: end;
            justify-content: space-between;
            flex-direction: column;
            transition: all 300ms;
            span{
                transition: all 300ms;
                background-color: $verde;
                height: 4px;
                &:first-child{
                    width: 100%;
                }

                &:nth-child(2){
                    width: 60%;
                }

                &:last-child{
                    width: 35%;
                }
            }

            &.active{
                transform: rotate(90deg);
                span{
                    width: 100%;
                }
            }
        }
    }

}

.banner-cont{
    width: 100%;
    height: 475px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .title-banner{
        font-size: $banner_title;
        font-weight: bolder;
        color: white;
    }
}

.container{
    padding: 0 90px;
    max-width: 1280px;
    margin: 0 auto;
}
@media screen and (max-width: 767px){
    .container{
        padding: 0 20px;
    }
}
// footer
footer{
    min-height: 300px;
    background-color: #0e526c;
    padding: 30px 90px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: $small;
    .column{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;

        p{
            color: white;
        }
        a{
            text-decoration: none;
            color: white;
        }

        .widget{
            width: 100%;
            padding: 10px;
            form{
                p{
                    width: 100%;
                    height: auto;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: row;
                    .wpcf7-form-control-wrap{
                        width: calc(90% - 120px);
                        min-width: 200px;
                        display: inline-block;
                        margin-right: 10px;
                        input{
                            appearance: none;
                            height: 50px;
                            border: 1px solid white;
                            background-color: transparent;
                            // min-width: 80px;
                            width: 100%;
                            text-align: center;
                            color: white;
                            margin: 5px ;
                            &::placeholder{
                                color: white;
                            }
                        }
                    }
                    input[type="submit"]{
                        display: inline-block;
                        appearance: none;
                        width: 80px;
                        border: 1px solid #8cc540;
                        background-color: #8cc540;
                        color: white;
                        height: 50px;
                        margin: 5px ;
                    }
                }
            }
        }
        .menu{
            list-style: none;
            li{
                margin: 10px 0;

            }
        }
    }

}

@media screen and (max-width: 767px){
    footer{
        padding: 30px 20px;
        .column{
            min-width: 300px;
            width: 100%;
            p{
                padding-left: 40px;
            }
        }
    }
}

@import "contactform";
@import "tabs";